/* App.css */
body {
  margin: 0 0 50px 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  background: #8e44ad;
}

.title1 {
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 99%;
  z-index: -1;
  top: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1000px) {
  .App {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto auto;
  }

  section.hero {
    height: 90vh;
  }

  section.skills {
    height: 130vh;
  }

  section.projects {
    height: 80vh;
  }

  section.contact {
    height: 100%;
  }


}

@media screen and (max-width: 600px) {
  .App {
    width: 100vw;
  
  }
}